/* font */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* color */
.primary-color{
    color: #4E47FF;
}

/* text */
.text-center {
    text-align: center;
}

/* flex */
.flex {
    display: flex;
}

/* button */
.button-primary{
    font-family: "Raleway", sans-serif;
    background-color: #4E47FF;
    font-weight: bold;  
    font-size: 20px;
    color: white;
    border: none;
    padding: 20px 40px;
    border-radius: 16px;
}

/* background-image */
.background-image{
    background-image: url("../images/Hero-bg.png");
    background-size: cover;
    background-position: center;
    margin: 0; 
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Nav Style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}
.nav-logo {
    font-family: "inter", sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #4E47FF;
}
nav a{
    display: flex;
    font-family: "raleway", sans-serif;
    align-items: center;  
    list-style: none;
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
}

/* header-content */
.header-content {
    text-align: center;
    align-content: center;
    justify-content: space-between;
    margin: 150px 0px 250px 0px;
}

.header-title {
    font-family: "Raleway", sans-serif;
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}
    
/* action */
.action-container {
    display: flex;
    justify-content: space-between;
    margin: 100px 150px ;
    display: flex;
    height: auto;
    align-items: center;
}
.action-title {
    font-size: 42px;
    margin-bottom: 20px;
    color: #252432;
}
.action-description {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
    color: #252432 ;
    opacity: 0.5;
}
.action-image{
    border-radius: 48px;

}